<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessApp"
        tools:targetApi="31">
        <activity
            android:name=".AbsStretchActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".SquatActivity"
            android:exported="false" />
        <activity
            android:name=".LateralWalkActivity"
            android:exported="false" />
        <activity
            android:name=".FitnessExercises"
            android:exported="false" />
        <activity
            android:name=".FitnessExercisesActivity"
            android:exported="false" />
        <activity
            android:name=".SonucSayfasi"
            android:exported="false" />
        <activity
            android:name=".VucutKitleIndex"
            android:exported="false" />
        <activity
            android:name=".KaloriHesapla"
            android:exported="false" /> <!-- SignUp aktivitesini başlangıç ekranı olarak ayarla -->
        <activity
            android:name=".SignUp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- MainActivity aktivitesini kaldır -->
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- Diğer aktiviteler -->
        <activity
            android:name=".Login"
            android:exported="false" />
    </application>

</manifest>